/* Custom CSS */
.background-image {
    background-image: url('first.jpg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right;
  }
  
.background-image2 {
    background-image:url('second.jpg');
    background-size: 400px;
    background-repeat:no-repeat;
    background-position:left;
  }
.background-container{
    padding: 800px;
}